/* Task.css */

.tasklist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.tasklist.done {
  background-color: #d4edda; /* Light green for completed tasks */
  color: #155724; /* Dark green text for completed tasks */
  text-decoration: line-through;
}

.tasklist:not(.done) {
  background-color: #f8d7da; /* Light red for incomplete tasks */
  color: #721c24; /* Dark red text for incomplete tasks */
}

.tasklist div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tasklist input[type="checkbox"] {
  margin-right: 10px;
}

.tasklist-actions {
  display: flex;
  gap: 10px;
}

.edit {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.edit:hover {
  text-decoration: underline;
}

.trash {
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.trash svg {
  height: 20px;
  fill: #333;
  transition: fill 0.3s ease;
}

.trash:hover svg {
  fill: #ff0000; /* Red color when hovering over the delete button */
}

.tasklist input[type="text"] {
  width: 70%;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.tasklist button {
  background-color: #61DAFB; 
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  color: #fff; 
  outline: none; 
}

.tasklist button:hover {
  background-color: #007bff;
}
